<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/about/about.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
		<nav id="navbar">
			<flow id="appname">MATCH PAWS</flow>
			<flow id="processname">ADOPT A FRIEND</flow>
        </nav>

        <div id="headerImage" 
            style="width: 100%; height:400px; 
                background-image: url(/about/images/home2Cropped.jpg); background-size: cover;"
        >
            <div id="overlay">
                <div id="overlayText">Match Paws</div>
            </div>
        </div>

        <section class="title">
            <h3 style="margin:0; font-size: 35px; font-weight: bold; color:#7b6db6;">About Us</h3>
        </section>
        <p id="about">
            Match Paws is ALL about you and your pet. Whether you have one or are looking for your new best friend, 
            we're here to help! 
        </p>
        <p>
            Our team came together to help both owners and their animals become the best they can be.
            Our matching system will help you find your new best friend. And if you already have a dog, show him/her off in our friendly community!
            MatchPaws will forge an unbreakable bond between you and your pet.
        </p>

        <section class="title">
            <h3 style="margin:0; font-size: 35px; font-weight: bold; color:#7b6db6;">Meet the Team</h3>
        </section>
        <section id="team">
            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Eric Huang</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Orion Hsu</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Seulgee Jang</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Timothy Wai-Kin Lam</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>
            
            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Yoonhong Lee</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>
        </section>

        <section class="title">
            <h3 style="margin:0; font-size: 35px; font-weight: bold; color:#7b6db6;">Contact Us</h3>
        </section>

        <p id="Contact">
            We're always happy to help! Whatever the reason, just send an email to <b>team@MatchPaws.ca</b>! <br>
            Or, if you would prefer help from other people in the MatchPaws community, feel free to visit our <a id=CommunityPage>community page</a>.
            <!--TODO: add community page hyperlink inside that <a> tag-->
        </p>

		<footer>
            <a href="#navbar" style="position: absolute; top: 5px; right: 20px; font-size: 15px;">TOP</a>
		</footer>
    </body>

</html> 