<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="about.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="about.js"></script>
    </head>
    <body>
		<nav id="navbar">
			<flow id="appname">MATCH PAWS</flow>
			<flow id="processname">ADOPT A FRIEND</flow>
        </nav>

        <div id="headerImage" 
            style="width: 100%; height:400px; 
                background-image: url(../images/home2Cropped.jpg); background-size: cover;"
        >
            <div id="overlay">
                <div id="overlayText">Match Paws</div>
            </div>
        </div>

        <section class="title">
            <h3 style="margin:0; font-size: 35px; font-weight: bold; color:#7b6db6;">About Us</h3>
        </section>
        <p id="about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip 
             ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
             voluptate velit esse cillum dolore eu fugiat nulla pariatur.
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
             deserunt mollit anim id est laborum.
        </p>

        <section class="title">
            <h3 style="margin:0; font-size: 35px; font-weight: bold; color:#7b6db6;">Meet the Team</h3>
        </section>
        <section id="team">
            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Eric Huang</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Orion Hsu</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Seulgee Jang</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>

            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Timothy Wai-Kin Lam</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>
            
            <section class="team_member">
                <section class="pic"></section>
                <h2 class="name">Yoonhong Lee</h2>
                <section class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </section>
            </section>
        </section>

		<footer>
			<p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
		</footer>
    </body>

</html> 