html{
	scroll-behavior: smooth;   
}

body{
	margin:0;
	font-family: sans-serif;
}

/* Header */
#navbar{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color:#a79ae0;
	padding: 0;
	height: 70px;
	color:white;
	font-weight: 600;
}

#appname{
	position: absolute;
	left:3%;
	top: 20px;

	font-size: 25px;
}

#processname{
	position: absolute;
	right:3%;
	top: 26px;
	font-size: 16px;
}

/* Header image */
#overlay{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: .5s ease;
	text-shadow:
		-2px -2px 0 #a7a6ba,
		2px -2px 0 #a7a6ba,
		-2px 2px 0 #a7a6ba,
		2px 2px 0 #a7a6ba;
}

#overlayText{
	color: white;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* Body */
.title{
	width: 700px;
	position:relative;
	top: 20px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

/*This page is made up of 2 columns: commPosts on the left, and sidebar on the right*/
.column {
    float: left;
    padding: 10px;
}


/* Community Posts */
#commPosts {
    width: 60%;
	display: flex;
	flex-direction: column;

}

.post {
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-radius: 15px 15px 15px 2px;

	width: 95%;
	background-color: lightgray;
}

.postTitle {
	position: relative;
	font-weight: bold;

	left: 15px;
	top: 5px;
}

.postInfo {
	position: relative;
	display: flex;
	flex-direction: row;

	left: 15px;
	margin: 0px;
	/*background-color: lime;*/
}

.datePosted {
	margin-right: 15px;
	margin-bottom: 0px;
}

.author {
	margin-right: 15px;
	margin-bottom: 0px;
}

.numComments {
	margin-bottom: 0px;
}

/* Sidebar */
#sidebar {
	background-color: lightslategray;

	position: sticky;
    width: 35%;
}

.newPost {
	background-color: lightgray;
	border-radius: 15px;

}

#submitNewPost {
	position: relative;
	text-align: center;
	top: 10px;
}

label {
	position: relative;
	left: 30px;
}

input {
	position: relative;
	left: 20px;
}


/* Page after the community posts and sidebar */
#main:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */
footer{
    position: absolute;  /*changed this from fixed to help with scrolling */
	bottom: 0;
	overflow: hidden;
	background-color:#a79ae0;
	padding: 0;
	height: 40px;
	width:100%;
	color:white;
}