<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="contactus.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="contactus.js"></script>
    </head>
    <body>
        <nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">ADOPT A FRIEND</h>
        </nav>

        <section class="title">
            <p style="margin:0; font-size: 40px; font-weight: bold; color:#7b6db6;">Contact Us</p>
        </section>

        <form id="contactForm" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Contact Form</legend>
                <label for="reason">What's wrong?</label> <br>
                <input id="reason" type="text" name="reason" placeholder="Contact Reason"> <br>
                <textarea name="desc" id="desc" rows="4" maxlength="250"
                    placeholder="Short Description"
                ></textarea> <br>


                <input type="submit" name="submit" value="Submit">
            </fieldset>

        </form>


        <footer>
			<p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
		</footer>
</html>