<!DOCTYPE html>
<html lang = "en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="adopt.css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">ADOPT A FRIEND</h>
		</nav>
		<main>
			<section id="pageheader">
				<p style="margin:0; font-size: 25px; font-weight: bold; color:#7b6db6;">WHO IS READY TO COME HOME?</p>
			</section>
			<section id="filtersection">
			</section>
			<section id="adoptposts">            	
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>
            	<section class = "dogcard">
            		<section class="image"></section>
            		<h class="dogname" >WAFFLES</h>
            		<section class="doginfo" style="padding: 0;position: relative; top:5px;">
            			
            			<p class="dogprofile" style="margin: 2px;font-size: 13px;">FEMALE / 3KG / 2 YEARS OLD</p>
            			<p class="doglocation" style="margin: 2px;font-size: 13px;">BURNABY, BC</p>
            			<p class="dateposted" style="font-size: 10px;">POSTED: NOV-13-2020</p>
            		</section>
            	</section>

            		
		

			</section>
			 

		</main>
		<footer></footer>
	</body>
	<script src="adopt.js"></script>
</html>