<!DOCTYPE html>
<html lang = "en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="/register/registration.css">

		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<nav>
			<nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">HELPING YOU GET STARTED</h>
		</nav>
		<main>
			<section id="formsection">
				<form id="registrationform">
				<!--
				<form action="account/register" method="post" name=regiform>
				-->
					<label for="username">Username</label><br>
					<input type="textbox" placeholder="Enter Username" id="username" required>
					<br>
					<label for="password">Password</label><br>
					<input type="password" placeholder="Enter Password" id="password" required>
					<br>
					<button id="registerbutton">REGISTER</button><br>
					<a href="/profile" id="profile">profile page after user log in</a>	
				</form>
			</section>			




		</main>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/register/registration.js"></script>
</html>