<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="/admin/editprofile.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">  
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>

            <nav id="navbar">
            <table id="headertable" cellspacing="15px">
                <td><a href="/cardflip" id="appname"><h>MATCHPAW</h></a></td>
                <td><h id="processname">Loading PROFILE</h></td>
            </table>
            <table id="navitable" cellspacing="5px">
                <td><a href="/about">ABOUT</a></td>
                <td><a href="/adoption">ADOPT</a></td>
                <td><a href="/dogforadoption">SHELTER</a></td>
                <td><a onclick="userprofile();">PROFILE</a></td>
                <td><a href="/matchedusers">MATCHES</a></td>
                <td><p id=matchalerts></p></td>
                <td><a href="/">SIGN OUT</a></td>
            </table>

        </nav>
    <main>
<div class="container">
<form id="update_form" enctype="multipary/form-data" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>

        <div class="profile-header-content">
            <div class="profile-header-img">
                <img id="profile_img" src="" alt="" />
            </div>

            <div class="profile-header-info">
                <h4 id="first_last_name" class="m-t-sm">Timothy Lam</h4>
                <p id="username_tag" class="m-b-sm">@Timothy318</p>
                <!-- <button class="btn btn-xs btn-primary mb-3">Change Photo</button> -->
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="profile_img_input">
                    <label class="custom-file-label" for="customInput">Choose file...</label>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-container">
        <div class="row row-space-20">
            <div class="col-md-8">
                <div class="tab-content p-0">
                    <div class="tab-pane active show" id="profile-about">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th colspan="2">PERSONAL INFORMATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field">Username</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <input id="username" type="text" placeholder="username"></input> 
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Last Name</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <input id="last_name" type="text" placeholder="Last Name"></input>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">First Name</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <input id="first_name" type="text" placeholder="First Name"></input>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Email</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <input id="email" type="email" placeholder="Email"></input>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Bio</td>
                                    <td class="value">
                                        <input id="bio" type="textbox" placeholder="Bio"></input> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th colspan="2">PET INFORMATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field">Pet Picture</td>
                                    <td >
                                        <div class="pet-img">
                                        <img id="pet_image" src="" alt="" />
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="pet_img_input">
                                            <label class="custom-file-label" for="customInput">Choose file...</label>
                                        </div>
                                    </td>
                                </tr>                        
                                <tr>
                                    <td class="field">Name</td>
                                    <td class="value">
                                        <input id="pet_name" type="text" placeholder="Name"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Age</td>
                                    <td class="value">
                                        
                                        <input id="pet_age" type="number" placeholder="Age"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Gender</td>
                                    <td class="value">
                                        <input id="pet_gender" type="text" placeholder="gender"></input>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td class="field">Breed</td>
                                    <td id="pet_breed" class="value">
                                        Shiba Inu
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="field">About</td>
                                    <td class="value">
                                         <input id="pet_description" type="textbox" placeholder="About"></input>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            <input type="submit" id="update_button" class="btn btn-primary btn-lg"></input>
                            <button type="button" id="cancel_button" class="btn btn-secondary btn-lg">Cancel</button>
                            <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
        
    </main>
         <footer>
            <p style="text-align: center;">Match-Paws ©2020</p>
            <p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
        </footer>
    </body>
    <script type="text/javascript" src="/admin/editprofile.js"></script>
</html>