<!DOCTYPE html>
<html lang = "en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="editprofile.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">	
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">EDITING YOUR PROFILE</h>
		</nav>
	<main>
<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>

        <div class="profile-header-content">
            <div class="profile-header-img">
                <img src="../images/paw.png" alt="" />
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-sm">Timothy Lam</h4>
                <p class="m-b-sm">@Timothy318</p>
                <a href="#" class="btn btn-xs btn-primary mb-3">Change Photo</a>
            </div>
        </div>
    </div>

    <div class="profile-container">
        <div class="row row-space-20">
            <div class="col-md-8">
                <div class="tab-content p-0">
                    <div class="tab-pane active show" id="profile-about">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th colspan="2">PERSONAL INFORMATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field">Username</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <b>Timothy318</b> <a onclick="displayDetails('editusername')" class="m-l-10">Edit</a></br>
                                            <div style="display: none;" id="editusername">
                                                <input id="username" class="form-control" type="text" name="username" value="">
                                                <a href="#" class="m-l-10">Update</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Last Name</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <b>Lam</b> <a onclick="displayDetails('editlname')" class="m-l-10">Edit</a>
                                            <div style="display: none;" id="editlname">
                                                <input id="lname" class="form-control" type="text" name="lname" value="">
                                                <a href="#" class="m-l-10">Update</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">First Name</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <b>Timothy</b> <a onclick="displayDetails('editfname')" class="m-l-10">Edit</a>
                                            <div style="display: none;" id="editfname">
                                                <input id="fname" class="form-control" type="text" name="fname" value="">
                                                <a href="#" class="m-l-10">Update</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Email</td>
                                    <td class="value">
                                        <div class="m-b-5">
                                            <b>timothy123@gmail.com</b> <a onclick="displayDetails('editemail')" class="m-l-10">Edit</a>
                                            <div style="display: none;" id="editemail">
                                                <input id="email" class="form-control" type="text" name="email" value="">
                                                <a href="#" class="m-l-10">Update</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">About</td>
                                    <td class="value">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a onclick="displayDetails('editabout')" class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editabout">
                                                <textarea rows="4" maxlength="250" class="form-control" name="user_bio" id="user_bio"></textarea>
                                                <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th colspan="2">PET INFORMATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="field">Pet Picture</td>
                                    <td ><img src="../images/paw.png" alt="" />
                                          <a href="#" class="">Change Photo</a>  
                                    </td>
                                </tr>                        
                                <tr>
                                    <td class="field">Name</td>
                                    <td class="value">
                                        Buddy
                                        <a onclick="displayDetails('editpetname')"  class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editpetname">
                                            <input id="petname" class="form-control" type="text" name="petname" value="">
                                            <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Age</td>
                                    <td class="value">
                                        3
                                        <a onclick="displayDetails('editage')"  class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editage">
                                            <input id="petage" class="form-control" type="text" name="petage" value="">
                                            <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Gender</td>
                                    <td class="value">
                                        Male
                                        <a onclick="displayDetails('editgender')" class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editgender">
                                                <input type="radio" id="male" name="gender" value="male">
                                                <label for="male">Male</label><br>
                                                <input type="radio" id="female" name="gender" value="female">
                                                <label for="female">Female</label><br>
                                            <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">Breed</td>
                                    <td class="value">
                                        Shiba Inu
                                        <a onclick="displayDetails('editbreed')" class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editbreed">
                                            <input id="breed" class="form-control" type="text" name="breed" value="">
                                            <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field">About</td>
                                    <td class="value">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a onclick="displayDetails('editpetabout')" class="m-l-10">Edit</a>
                                        <div style="display: none;" id="editpetabout">
                                                <textarea rows="4" maxlength="250" class="form-control" name="pet_bio" id="pet_bio"></textarea>
                                                <a href="#" class="m-l-10">Update</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        
    </main>
		 <footer>
            <p style="position: absolute;">menu and direction to aboutus</p>
            <p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
        </footer>
	</body>
    <script type="text/javascript" src="editprofile.js"></script>
</html>