<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Community Post</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="commpost.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="commPost.js"></script>
    </head>
    <body>
        <nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">ADOPT A FRIEND</h>
        </nav>

        <div id="headerImage" 
            style="width: 100%; height:400px; 
                background-image: url(../images/home2Cropped.jpg); background-size: cover;"
        >
            <div id="overlay">
                <div id="overlayText">Community Posts</div>
            </div>
        </div>

        <section class="Post">
            <section class="PostTitle">
                <h3 style="margin:0; font-size: 30px; font-weight: bold; color:#7b6db6;">Post Title</h3>
            </section>
            <section class="PostContent">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </section>
        </section>

        <form action="TODO: add new comment code">
            <textarea class="CommentBox" cols="50" rows="5">
            </textarea>
            <br />
            <button type="submit">Add New Comment</button>
        </form>

        <div id="allComments">
            <div class="comment">
                <section class="commentInfo">
                    <p class="author">Joe Doe</p>
                    <p class="dateCommented">2020-12-03</p>
                </section>
                <p class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="comment">
                <section class="commentInfo">
                    <p class="author">Joe Doe</p>
                    <p class="dateCommented">2020-12-03</p>
                </section>
                <p class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="comment">
                <section class="commentInfo">
                    <p class="author">Joe Doe</p>
                    <p class="dateCommented">2020-12-03</p>
                </section>
                <p class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!---
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua.
            </div>
            -->
        </div>

        <footer>
			<p style="position: absolute;">menu and direction to aboutus</p>
			<a href="#navbar" style="position: absolute; top: 5px; right: 20px; font-size: 15px;">TOP</a>
		</footer>
    </body>
</html>