<!DOCTYPE html>
<html lang = "en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="/cardflip/cardflip.css">-->
		<link rel="stylesheet" type="text/css" href="/cardflip/cardflip.css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body>
		<nav id="navbar">
			<table id="headertable" cellspacing="15px">
				<td><a href="/cardflip" id="appname"><h>MATCHPAW</h></a></td>
				<td><h id="processname">FINDING YOUR MATCHES</h></td>
			</table>
			<table id="navitable" cellspacing="5px">
				<td><a href="/about">ABOUT</a></td>
				<td><a href="/adoption">ADOPT</a></td>
				<td><a href="/admin/view/1">PROFILE</a></td>
				<td><a href="/matchedusers">MATCHES</a></td>
				<td><p id=matchalerts></p></td>
				<td><a href="/">SIGN OUT</a></td>
			</table>

		</nav>

		<main>
			<section id="instruction">
				<p style="margin:0; font-size: 30px; font-weight: bold; color:#7b6db6;">WHO IS YOUR MATCH?</p>
				<p id="flipsleft" class="flipsleft"></p>
				<span id="totalcards" class="flipsleft"></span> <!--	4 demo cards for now -->

			</section>
			<section id="carddeck">
				<section id="cards">
					<!--<section class="card">
						<section class="profileImage"></section>
						<p class="username">WAFFLES</p>
					</section>-->
					<!--
						after DB setup, have 10 cards randomly drawn from DB 
					-->
				</section>
				<p></p>
			</section>

			<section id="buttons">
				<section id="leftbutton" >
					<img class="choicebutton" src="/cardflip/images/notchoosebutton.png">
					<img class="clickedbutton" id="subbedbutton"  src="/cardflip/images/paw.png">
				</section>
				<section id="rightbutton">
					<img class="choicebutton" src="/cardflip/images/choosebutton.png">
					<img class="clickedbutton" id="addedbutton" src="/cardflip/images/paw.png">
				</section>
			</section>

		</main>
	</body>
	<script src="/cardflip/cardflip.js"></script>
</html>