<!DOCTYPE html>
<html lang = "en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="adoptionprofile/adoptiondogprofile.css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<title>ADOPT A FRIEND</title>
		<meta charset="utf-8">
	</head>
	<body>
		<nav id="navbar">
			<h id="appname">MATCHPAW</h>
			<h id="processname">ADOPT A FRIEND</h>
		</nav>
		<main>
			<section id="pageheader">
				<p id="dogname"></p>
			</section>
			<section id="profilesection">
				<section id="doginfo">
					<p style="text-align: center; font-weight: bold; color:#352288">PROFILE</p>
					<section id="infotextsection">
						<p id="info" style="color: gray; font-size: 15px; overflow-y: auto; margin:0; padding: 0;width:100%; height: 100%;">
							<!--AGE
							<br>
							WEIGHT
							<br>
							GENDER
							<br>
							BREED
							<br>
							<br>
							ADOPTION AGENCY NAME
							<br>
							AGENCY LOCATION
							<br>
							AGENCY CONTACT
							<br>
							DATE POSTED
							<br>-->

						</p>
					</section>
				</section>
				
				<section id="graphicsection">
					<section id="leftbutton">
						<img class="slidebutton" onclick="slideleft()" src="/adoptionprofile/images/paw.png">
					</section>
					<section id="imagesection">
						<img class="image" src="">					
					</section>
					<section id="rightbutton">
						<img class="slidebutton" onclick="slideright()" src="/adoptionprofile/images/paw.png">
					</section>
				</section>
			
				<section id="description">
					<p style="text-align: center; font-weight: bold; color:#352288; z-index: 2;">ABOUT ME</p>
					<section id="desctextsection">
						<p id="aboutme" style="color: gray; font-size: 15px; overflow-y: auto; margin:0; padding: 0;width:100%; height: 100%;"> </p>	
					</section>
				</section>

			</section>
		

		</main>
		<footer>
			<p style="text-align: center;">Match-Paws ©2020</p>
			<p onclick="autoscrollTop()" style="position: absolute; right: 10px; font-size: 11px;">TOP</p>
		</footer>
	</body>
	<script src="adoptionprofile/adoptiondogprofile.js"></script>
</html>

